<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció!</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h2>Regisztráció</h2>
<div id="register-box">
    <form method="post" th:object="${createUserRequest}" th:action="@{/user/registration}" autocomplete="off">
        <p>
            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email hiba!</p>
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email" th:field="*{email}">
        </p>
        <p>
            <p class="error" th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}">Név hiba!</p>
            <label for="name">Név</label>
            <input type="text" id="name" name="displayName" placeholder="Név" th:field="*{displayName}">
        </p>
        <p>
            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Jelszó hiba!</p>
            <label for="password">Jelszó</label>
            <input type="password" id="password" name="password" placeholder="Jelszó">
        </p>
        <p>
            <p class="error" th:if="${#fields.hasErrors('passwordAgain')}" th:errors="*{passwordAgain}">Jelszó újra hiba!</p>
            <label for="passwordAgain">Jelszó újra</label>
            <input type="password" id="passwordAgain" name="passwordAgain" placeholder="Jelszó még egyszer">
        </p>
        <button type="submit">Regisztráció</button>
    </form>
    <a href="login.html" th:href="@{/login}">Belépés</a>
</div>
</body>
</html>